<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Control de Gastos</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" href="View/css/bootstrap.css">
		<link rel="stylesheet" href="View/css/bootstrap-responsive.css">
	</head>
    <body>
    	<div class="navbar navbar-fixed-top">
    		<div class="navbar-inner">
    			<div class="container">
	    			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    				<span class="icon-th-list"></span>
	    			</a>
		    	</div>
		    	<a href="#" class="brand">Control de Gastos</a>
		    	<div class="nav-collapse collapse">
		    		<ul class="nav pull-right">
		    			<li><a href="#">Inicio</a></li>
		    			<li><a href="#">Acerca de</a></li>
		    			<li><a href="#">Contacto</a></li>
		    		</ul>
		
		    	</div>
    		</div>
    	</div>
    	<div class="hero-unit">
    		<p>Estas logeado</p>
    		<a href="Utils/Logout.php">Cerrar sesion</a>
    	</div>
    	
        <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
        <script src="View/js/bootstrap.js"></script>
    </body>
</html>